.cuerpo {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#excuse {
  color: blueviolet;
}

.enlace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 90%;
}
